@model ViewModel.Models.RegisterViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Регистрация пользователя</h4>
        <hr />
        @Html.ValidationSummary(false)

        
        <div>
           Your Email
            <div>
                @Html.EditorFor(model => model.Email)
            </div>
        </div>


        <div>
            Name
            <div>
                @Html.EditorFor(model => model.Name)
            </div>
        </div>

        <div>
            Password
            <div>
                @Html.EditorFor(model => model.Password)
            </div>
        </div>

        <div>
            Confirm Password
            <div>
                @Html.EditorFor(model => model.ConfirmPassword)
            </div>
        </div>

        <div>
            Adress
            <div>
                @Html.EditorFor(model => model.Address)
            </div>
        </div>

        <div>
            <div>
                <input type="submit" value="Register" />
            </div>
        </div>
    </div>
}